SetEnv PHP_VER 5_4

Options -Indexes

RewriteEngine On

# Exclude files and folders
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Admin
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]
RewriteRule ^admin/$ admin/admin-contents.php [L]

# All goes through index
RewriteRule ^$ index [L]
RewriteRule ^(admin|assets|_images).* - [L]
RewriteRule ^(.*)\?*$ stupid.php?__page__=/$1 [L,QSA]