SetEnv PHP_VER 5_4

# No folder listing
Options -Indexes

# Rewriting !
RewriteEngine On

# Admin
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^admin$ __stupid/admin.php
RewriteRule ^admin/$ admin/admin-contents [NC,L]
RewriteRule ^admin/((css|js)/.*)$ __stupid/admin/$1 [NC,L]
RewriteRule ^admin/(.*)$ __stupid/admin/$1.php [NC,L]

# All goes through index
RewriteRule ^$ index [L]

# Bypass stupid
RewriteRule ^__stupid.*$ - [L]

# Send pages to stupid
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\?*$ __stupid/stupid.php?__page__=/$1.html [L,QSA]