SetEnv PHP_VER 5_4

Options -Indexes

RewriteEngine On

# Exclude files and folders
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Admin
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]
RewriteRule ^admin/$ admin/admin-contents [NC,L]
RewriteRule ^admin/((css|js)/.*)$ __stupid/admin/$1 [NC,L]
RewriteRule ^admin/(.*)$ __stupid/admin/$1.php [NC,L]

# All goes through index
RewriteRule ^$ index [L]
# Bypass stupid
RewriteRule ^__stupid.*$ - [L]
# Bypass all assets
RewriteRule ^.*(.css|.js|.jpg|.png|.gif|.html)$ - [NC,L]
# Send pages to stupid
RewriteRule ^(.*)\?*$ __stupid/stupid.php?__page__=/$1.html [L,QSA]