/*///////////////////////////////////////////////////////////////////////*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);

/*///////////////////////////////////////////////////////////////////////*/
@import "./bootstrap.min.css";

/*///////////////////////////////////////////////////////////////////////*/
html,body {
    font-family:'Open Sans', arial, sans-serif;
    height:100%;
}

.container {
    max-width:1000px;
}

a, a:hover {
    color:blue;
}

/*///////////////////////////////////////////////////////////////////////*/
header {
    width:100%;
    margin: 0px auto 30px auto;
    text-align: center;
    border-bottom: 1px solid #000;
    border-top: 0px solid #000;
    padding:20px 0 35px 0;
}

header h1 {
    font-size:6em;
    font-weight: bold;
    font-family: 'Droid Serif', serif, arial, sans-serif;
}

nav {
    text-transform: capitalize;
    font-size:1.3em;
    height:20px;
    text-align: center;
}

nav a.active {
    color:#000;
    text-decoration: none;
}

nav ul {
    margin:0;
    padding:0;
}

nav li {
    display: inline;
    padding:0 15px;
    border-right: 1px solid #000;
}

nav li:last-child {
    border:none;
}

footer {
    margin-top:80px;
    border-top: 1px solid #ddd;
    padding:15px 0 10px;
}

.debug {
    margin:0 auto;
    background-color: #ccc;
    padding:10px;
    position:fixed;
    bottom:0;
    width:100%;
    opacity:0.7;
}

/*///////////////////////////////////////////////////////////////////////*/
textarea {
    font-family: courier;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.admin-file {
	max-height: 200px;
}